<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>
</head>
<body>
    <input type="button" id="button-id" value="click"/>
    <div id="div-id">
        <img src="http://lorempixel.com/output/people-q-g-640-480-7.jpg" alt="">
    </div>
</body>
</html>